<%= form_with(model: produto, html: { multipart: true }, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dimiss="alert" aria-hidden="true">&times;</button>
      <h4>Preencha os dados necessários corretamente </h2>

    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descrição %>
    <%= form.text_area :descrição, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :preço %>
    <%= form.text_field :preço, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :imagem %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
