<div class ="center">
<div class="row">
  <% @produtos.each do |produto| %>
    <div class="col-md-3">
      <div class="thumbnail">
      <%= link_to image_tag(produto.image.url), produto %>
      <div class="caption">
        <h3><%= produto.nome %></h3>
        <h4><b><%= number_to_currency(produto.preço, unit: "R$ ", separator: ",", delimiter: "")%></b></h4>
        <p><%= "Anunciado por #{produto.user.name}" %></p>   
      </div>
    </div> 
    </div>
  <% end %>
</div>
</div>

<% if user_signed_in? %>
<%= link_to 'Novo Produto', new_produto_path, class: "btn btn-success" %>

<% end %>

<br>
<br>