<div class="row">
  <% @produtos.each do |produto| %>
    <div class="col-md-3">
      <%= image_tag produto.image.url(:medium) %><br>
      <%= produto.nome %><br>
      <%= produto.descrição %><br>
      <%= produto.preço %><br>
      <%= link_to 'Mostrar', produto, class: "btn btn-link" %><br>
      <%= link_to 'Editar', edit_produto_path(produto), class: "btn btn-link" %><br>
      <%= link_to 'Excluir', produto, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-link"  %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'Novo Produto', new_produto_path, class: "btn btn-link" %>
