<p id="notice"><%= notice %></p>

<%= image_tag @produto.image.url(:medium) %>

<p>
  <strong>Nome:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @produto.descrição %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @produto.preço %>
</p>

<%= link_to 'Editar', edit_produto_path(@produto), class: "btn btn-link" %> |
<%= link_to 'Voltar', produtos_path, class: "btn btn-link" %>
