<div class = "row">
  <div class="col-md-6">
  <div class="thumbnail">
    <%= image_tag @produto.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @produto.nome %></h3>
    <p><%= number_to_currency(@produto.preço, unit: "R$", separator: ",", delimiter: "")%></p>
    <p><%= @produto.descrição %></p>
    <br>
    <div class="center">
    <%= link_to "Comprar agora", new_produto_pedido_path(@produto),class: "btn btn-primary"%>
    </div>
  </div>
</div>

<% if current_user == @produto.user %>
<%= link_to 'Editar', edit_produto_path(@produto), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Voltar', produtos_path, class: "btn btn-link" %>
