<div class="center">
<h2>Histórico de Compras</h2>
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th class="center">Imagem</th>
        <th class="center">Item</th>
        <th class="center">Preço</th>
        <th class="center">Vendedor</th>
        <th class="center">Data da Compra</th>
    </tr>

    <% @pedidos.each do |pedido|%>
        <tr>
            <td class="center"><%= image_tag pedido.produto.image.url(:thumb) %></td>
            <td class="center"><%= pedido.produto.nome %></td>
            <td class="center"><%= number_to_currency(pedido.produto.preço, unit: "R$ ", separator: ",", delimiter: "") %></td>
            <td class="center"><%= pedido.vendedor.name %></td>
            <td class="center"><%= pedido.created_at.strftime("%-d %B, %Y") %></td>

            </tr>
        <%end%>
        </table>

<% if user_signed_in? %>
<%= link_to 'Novo Produto', new_produto_path, class: "btn btn-success" %>
<% end %>