<p id="notice"><%= notice %></p>

<p>
  <strong>Endereco:</strong>
  <%= @pedido.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @pedido.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pedido.estado %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
